<style>
    .page-layout.simple.left-sidenav {
        min-height: auto;
    }
</style>
<div id="contacts" class="simple page-layout left-sidenav inner-sidenav">
<!-- HEADER -->
<div class="header md-accent-bg" layout="row" layout-align="space-between center">

    <!-- APP TITLE -->
    <div layout="row" layout-align="start center">
       <!-- <md-button class="md-icon-button sidenav-toggle" hide-gt-md ng-click="vm.toggleSidenav('sidenav')"
                   aria-label="Toggle sidenav" translate translate-attr-aria-label="CONTACTS.TOGGLE_SIDENAV">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>-->

        <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-account-box" class="s24"></md-icon>
                </span>
            <span class="logo-text" >Requests</span>
        </div>
    </div>
    <!-- / APP TITLE -->

    <!-- SEARCH -->
    <div class="search-input-wrapper" layout="row" layout-align="start center">
        <label for="search">
            <md-icon md-font-icon="icon-magnify"></md-icon>
        </label>
        <md-input-container md-no-float class="m-0">
            <input id="search" placeholder="Search for anyone" type="text" ng-model="vm.search" translate
                   translate-attr-placeholder="CONTACTS.SEARCH_FOR_ANYONE">
        </md-input-container>
    </div>
    <!-- / SEARCH -->

</div>
<!-- / HEADER -->
</div>
<div id="mail" class="page-layout carded left-sidenav" layout="row" style="margin-top:32px;">

    <div class="center" layout="column" flex>
    <!-- CONTENT CARD -->
    <div class="content-card" ng-class="vm.currentView" layout="column" flex ng-include="vm.views[vm.currentView]"></div>
    <!-- / CONTENT CARD -->
    </div>

    <!-- ADD CONTACT BUTTON -->
    <!--<md-button class="md-fab md-accent md-icon-button" id="add-contact-button" ng-click="vm.openContactDialog($event)"
               aria-label="add contact" translate translate-attr-aria-label="CONTACTS.ADD_CONTACT">
        <md-icon md-font-icon="icon-account-plus"></md-icon>
    </md-button>-->
    <!-- / ADD CONTACT BUTTON -->

</div>
